.dropdown {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown select {
  display: inline-block;
  float: right;
  width: 140px;
  height: 23px;
  background: #333;
  color: #999;
  border: 0;
  margin-right: 5px;
}

.dropdown select:focus {
  color: white;
}

.dropdown-info {
  display: inline-block;
  float: left;
  color: #999;
  font-size: 13px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
